.pokemon-body {

    display:flex;
    justify-content: center;
    background-color: white;
    padding-top: 40px;
}

.pokemon-container .pokemon-card {

    border: 1px solid black;
    box-shadow: black;
    padding: 20px 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px black;
}

.pokemon-container .pokemon-card .pokemon-picture {

    border: 1px solid black;
    box-shadow: 0px 4px 4px 2px gold;
    border-radius: 100px;
    width: 40vh;
    height: 40vh;
}

.pokemon-container  .card-title , .pokemon-name {

    font-style: italic;
}

.pokemon-body .link {

    color: red;
    text-decoration: none;
    border: 1px solid black;
    padding: 8px 12px;
    background-color: gold;
    position:fixed;
    top: 0;
    left: 0;
    margin: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.pokemon-body .link:hover {

    background-color: goldenrod;
}


.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

.form-container {
    padding: 20px;
    border: 2px solid #0056b3; 
    background-color: #fff; 
    display: grid;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.form-group label {
    font-weight: bold;
    color: #0056b3; 
}

.form-group input,select {
    padding: 8px;
    border: 2px solid #0056b3; 
    border-radius: 4px;
    margin: 5px;
    transition: border-color 0.3s; 
}

.form-group input:focus,
select:focus {
    border-color: #ffcc00; 
    outline: none; 
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.form-actions .link {
    color: #ff0000; 
    text-decoration: none;
    padding: 8px 12px;
    border: 2px solid #0056b3; 
    border-radius: 4px;
    background-color: #ffcc00; 
    flex-basis: 10px;
    text-align: center;
    margin-right: 10px;
    transition: background-color 0.3s; 
    font-size: 16px;
}

.form-actions .link:hover {
    background-color: #ff9900; 
}

.form-actions .button {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: #0056b3;
    border: none;
    flex-basis: 10px;
    margin-left: 10px;
    transition: background-color 0.3s; 
}

.form-actions .button:hover {
    background-color: #003d80; 
}

