.form-body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {

    padding: 20px;
    border: 1px solid red;
    display: grid;
    gap: 10px;
    width: 100vh;
}

.form-group {

    display:grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.form-group label {

    font-weight: bold;
}

.form-group input, select {

    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
    margin: 5px;
}

.form-actions {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}

.form-actions .link {

    color: red;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid;
    border-radius: 4px;
    background-color: aqua;
    font-size: 16px;
    font-weight: bold;
}

.form-actions .button {

    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 30px;
    color: red;
    font-size: 16px;
    background-color: lightgreen;
    font-weight: bold;
}




